* {
    color: #F3F8FC;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* ---------------Header---------------- */
    /* Imagen */

#logo {
    width: 31.25rem;
    height: auto;
}

    /* Centro */

div h1 {
    font-size: 3rem;
}

div h4{
    font-size: 1.5rem;
}

div h2 {
    font-size: 2rem;
}

#star {
    width: 2.813rem;
    height: auto;
}
    /* Derecha */

#perfil {
    width: 6.25rem;
    height: 6.25rem;
}

div h3 {
    font-size: 1.8rem;
}

div h5 {
    font-size: 1.2rem;
}

/* --------------Front----------------- */
    /* Izquierda */

    /* Centro Izq */

    /* Centro Cen */

    /* Centro Der */

    /* Derecha */


/* ---------------Footer---------------- */
    /* Links */

    /* No puedo hacer que el hover no sea azul */

a:link, a:visited {
    color: #F3F8FC;
    transition: color 0.3s ease;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
a:hover, a:active {
    text-decoration: underline;
    color: #F3F8FC;
  }

/* -------------Extras------------------ */
  