* {
    color: #F3F8FC;
    font-family: 'Roboto', sans-serif;
}

:root {
    --mainColor: #ffffff;
    --secondaryColor: #3E8FD1;
    --bgColor: #a6a6a6;
    --black: #000000;
    --white: #ffffff;
    --lightBlue: rgb(103, 179, 241);
}

#background {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(219, 219, 219, 1) 50%, rgba(194, 194, 194, 1) 100%);
}


/* ---------------Header---------------- */


/* Imagen */


/* #header {
    height: 5rem;   Problemas con la altura
} */

#logo {
    width: 20rem;
    height: auto;
    /* background: yellow; */
}


/* @media screen and (min-width: 780px) and (max-width: 1024px) {

    #logo {
        width: 13rem;
        height: auto;
        background: red;
    }
}

@media screen and (min-width: 480px) and (max-width: 780px) {
    
    #logo {
        width: 12.5rem;
        height: auto;
        background: blue;
    }
}

@media screen and (max-width: 480px) {

    #logo {
        width: 2.7345rem;
        height: auto;
        background: green;
    }
} */


/* Centro */

div h1 {
    font-size: 2rem;
}

div h4 {
    font-size: 1.15rem;
}

div h2 {
    font-size: 1.5rem;
}

#star {
    width: 1.5rem;
    height: auto;
}


/* @media screen and (min-width: 780px) and (max-width: 1024px) {
    
    div h1 {
    font-size: 0.95rem;
    }

    div h4{
        font-size: 0.7rem;
    }

    div h2 {
        font-size: 1rem;
    }

    #star {
        width: 0.75rem;
        height: auto;
    }
}

@media screen and (min-width: 480px) and (max-width: 780px) {
    
    div h1 {
        font-size: 0.75rem;
    }
    
    div h4{
        font-size: 0.5rem;
    }
    
    div h2 {
        font-size: 1rem;
    }
    
    #star {
        width: 0.75rem;
        height: auto;
    }
    
}

@media screen and (max-width: 480px) {

    div h1 {
        font-size: 0.125rem;
    }
    
    div h4{
        font-size: 0.09375rem;
    }
    
    div h2 {
        font-size:  0.1875rem;
    }
    
    #star {
        width: 0.09375rem;
        height: auto;
    }
} */


/* Derecha */

#perfil {
    width: 4rem;
    height: 4rem;
}

div h3 {
    font-size: 1.5rem;
}

div h5 {
    font-size: 1rem;
}


/* @media screen and (min-width: 780px) and (max-width: 1024px) {
    #perfil {
        width: 2rem;
        height: 2rem;
    }
    
    div h3 {
        font-size: 0.7rem;
    }
    
    div h5 {
        font-size: 0.5rem;
    }
    
}

@media screen and (min-width: 480px) and (max-width: 780px) {
    #perfil {
        width: 2rem;
        height: 2rem;
    }
    
    div h3 {
        font-size: 0.7rem;
    }
    
    div h5 {
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 480px) {
    #perfil {
        width: 0.78125rem;
        height: 0.78125rem;
    }
    
    div h3 {
        font-size: 0.245rem;
    }
    
    div h5 {
        font-size: 0.15rem;
    }
} */


/* --------------Front----------------- */


/* ---------Costados-------- */

#seccion {
    background-color: var(--secondaryColor);
    color: white;
    padding: 2rem;
    border-color: var(--secondaryColor);
}

#botn {
    font-size: 1.5rem;
    background-color: var(--secondaryColor);
    border-color: var(--secondaryColor);
}

.cajader {
    background-color: var(--secondaryColor);
    height: 100%;
    width: 60px;
    float: right;
    border-radius: 10px;
    border: solid 3px;
    position: relative;
}

.cajader-medio {
    background-color: var(--secondaryColor);
    float: right;
    height: 110px;
    width: 115px;
    position: relative;
    top: 40%;
    right: 30px;
    border-radius: 10px;
    border: solid;
    border-right: 1px;
}


/* ---------Centro-------- */


/* Cards */

#cards {
    background-color: var(--secondaryColor);
    margin: 2rem;
    height: 15rem;
    border: .1rem solid var(--black);
}

#card1Row {
    border: .1rem solid var(--black);
    background-color: var(--mainColor);
    margin: 1.1rem;
}


/* Top left card */

#card1Text,
#card1Number {
    margin-top: 0.9rem;
    margin-bottom: 0.10rem;
    color: var(--black);
}

#card1Text {
    font-size: 1.75rem;
    text-align: left;
}

#card1Number {
    font-size: 1.4rem;
    margin-top: 1.2rem;
    text-align: end;
}


/* Top right card */

#card2Img {
    width: 13rem;
}

#card2Title {
    color: var(--black);
    border: .1rem solid var(--black);
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 1.2rem;
    background-color: var(--mainColor);
}

#card2Vl {
    border-left: 1px solid var(--black);
    height: 12.5rem;
}


/* Bottom card */

#card3Title {
    color: var(--black);
    border: .1rem solid var(--black);
    font-size: 1rem;
    background-color: var(--mainColor);
}

#card3Row {
    margin-left: .3rem;
}

#card3Date,
#card3Transfer,
#card3Number {
    color: var(--black);
}

#card3Date {
    font-size: 1.4rem;
    padding-top: .9rem;
    margin-top: .1rem;
}

#card3Transfer {
    font-size: 1.75rem;
    margin-top: .6rem
}

#card3Number {
    margin-top: 1rem;
    font-size: 1.4rem;
}

#card3Border {
    border: .1rem solid var(--black);
    margin: .35rem;
    margin-left: .25rem;
    background-color: var(--mainColor);
}


/* ---------------Footer---------------- */


/* Links */


/* No puedo hacer que el hover no sea azul */

a:link,
a:visited {
    color: #F3F8FC;
    transition: color 0.3s ease;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    text-decoration: underline;
    color: #F3F8FC;
}

#footer {
    font-size: 1rem;
    margin: 1rem;
}


/* @media screen and (min-width: 780px) and (max-width: 1024px) {
    #footer {
        font-size: 0.5rem;
        margin: 0.7rem;
    }    
}

@media screen and (min-width: 480px) and (max-width: 780px) {
    #footer {
        font-size: 0.5rem;
        margin: 0.7rem;
    }    
}

@media screen and (max-width: 480px) {

} */


/* -------------Extras------------------ */